.sneakersList {
  margin: 0 90px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 20px;
  gap: 40px;
  margin-right: 20px;

}

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  color: #000;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .sneakersList {
    margin: 0 20px;
  }

  .header {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
